* {
  margin: none;
  padding: none;
  font-family: sans-serif;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  list-style-type: none;
}
body {
  background-color: #000;
  color: #fff;
}
.heading {
  font-size: 40px;
  font-weight: 900;
  margin-top: 9px;
  margin-left: 20px;
  padding: 5px;
}
.home{
  font-family: cursive;
  font-size: 30px;
} 